body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

#flag {
  color: white;
  font-weight: bold; 
  font-size: 120%;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
}

.intro{
    position: fixed;
    bottom: 2%;
    left: 90%;
}
