body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

#flag {
  color: #ffffff33;
  font-size: 110%;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
}

.intro{
    position: fixed;
    bottom: 4%;
    left: 87%;
}
